@{
    ViewData["Title"] = "Home Page";
}

<style>

    body
    {
        background: #E4FFFF;
    }

    .bodycontain
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #E4FFFF;
        padding: 20px;
        border: none;
    }

    .giffi
    {
        max-width: 100%;
        height: auto;
        border: 2px solid #ddd;
        border-radius: 8px;
        border: none;
    }

</style>

<div class="bodycontain">
    <img src = "./Images/CarImage.gif" class="giffi"/>
</div>
